# Ignore compiled bytecode files
scripts/__pycache__/*
scripts/utils/__pycache__/*

# Ignore virtual environment directory
.venv
iPhyloGeo_env/
iPhyloGeo++_env/
iPhyloGeo_plus_plus_env/

# Ignore results directory
scripts/results/*

# Ignore user config file
scripts/utils/params.yaml
