# Ignore compiled bytecode files
scripts/__pycache__/*
scripts/utils/__pycache__/*

# Ignore virtual environment directory
.venv
venv/
iPhyloGeo_env/
iPhyloGeo++_env/
iPhyloGeo_plus_plus_env/

# Ignore results directory
scripts/results/*

# Ignore user config file
scripts/utils/params.yaml
scripts/utils/ClimaticGraphSettings.yaml

scripts/Qt/__pycache__/loading_ui.cpython-310.pyc

scripts/Qt/__pycache__/main_ui.cpython-310.pyc
