<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
      xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">

    <Bundle Name="iPhyloGeo++ and Ghostscript"
        Version="1.0"
        UpgradeCode="3216444d-fd6f-4b0a-a7e6-3b8b33ac5e54">
		
		<!--
		<BootstrapperApplication>
            <bal:WixStandardBootstrapperApplication
                LicenseUrl="https://opensource.org/license/MIT"
                Theme="hyperlinkLicense" />
        </BootstrapperApplication>
		-->

		<Chain>
			<ExePackage Id="ghostscript" Permanent="yes"
				SourceFile="gs10060w64.exe">
			</ExePackage>

			<MsiPackage Id="iPhyloGeo_plus_plus"
				SourceFile="iPhyloGeo++-1.0-win64.msi">
			</MsiPackage>
			
		</Chain>
    </Bundle>
 </Wix>